.button {
    background-color: #6200ee;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: 10px;
}
  
.button:hover {
background-color: #3700b3;
box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.sessionName{
    font-size: 30px;
    font-weight: bold;
    color: #000000;
}